body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.navbar{
    width: 100% !important;
    background-color: #090909;
}

#webname{
    font-size: 2rem;
}

#weblogo{
    width: 6rem;
}