<section class="loginForm">
  <div class="text-center mt-5 text-decoration-underline">
    <h1>Bejelentkezés</h1>
  </div>
  <div class="container moveFromRight delay-50" id="loginform">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body">
                <div class="text-center">
                  <img src="./img/Logo2.png" alt="logo" id="loginLogo">
                  <h4 class="mt-1 mb-5 pb-1">LPT</h4>
                </div>
                <form name="loginForm">

                  <!-- Email -->
                  <div class="row mb-3">
                    <label for="login-email" 
                           class="col-form-label col-12 col-md-5">
                      <i class="fa-solid fa-star fa-2xs text-danger"></i>
                      <span class="text-capitalize">email:</span>
                    </label>
                    <div class="col-11 position-relative">
                      <input id="login-email"
                             class="form-control"
                             name="email" 
                             type="text"
                             placeholder="Email"
                             spellcheck="false" 
                             autocomplete="off" 
                             required
                             maxlength="50"
                             ng-model="model.email"
                             ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
                             ng-disable-space
                             ng-clear-icon>
                    </div>
                    <div class="col-1 d-flex align-items-center justify-content-start ps-1">
                      <span class="fw-bolder text-success"
                            ng-class="{'invisible': loginForm.email.$invalid}">
                        &check;
                      </span>
                    </div>
                  </div>

                  <!-- Jelszó -->
				          <div class="row mb-2">
				          	<label for="login-password" 
				          				class="col-form-label col-12 col-md-5">
				          		<i class="fa-solid fa-star fa-2xs text-danger"></i>
				          		<span class="text-capitalize">jelszó:</span>
				          	</label>
				          	<div class="col-11 position-relative">
				          		<input id="login-password"
				          					 class="form-control"
				          					 name="password" 
				          					 type="{{model.showPassword ? 'text' : 'password'}}"
				          					 placeholder="Jelszó"
				          					 spellcheck="false" 
				          					 autocomplete="off" 
				          					 required
				          					 minlength="6"
				          					 maxlength="20"
				          					 ng-init="model.jelsz=null"
				          					 ng-model="model.jelsz"
				          					 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
				          					 ng-disable-space
				          					 ng-clear-icon>
				          	</div>
				          	<div class="col-1 d-flex align-items-center justify-content-start ps-1">
				          		<span class="fw-bolder text-success"
				          					ng-class="{'invisible': loginForm.jelsz.$invalid}">
				          			    &check;
				          		</span>
				          	</div>
				          </div>

                  <!-- Jelszó megjelenítés -->
                  <input id="register-showPassword"
				          			 class="form-check-input"
				          			 type="checkbox"
				          			 ng-init="model.showPassword=false"
				          			 ng-model="model.showPassword">
				          <label for="register-showPassword"
				          			 class="form-check-label ms-1">
				          	Jelszó megjelenítése
				          </label>

                  <!-- Gomb -->
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-button-init 
                            class="btn btn-dark mt-3" 
                            type="button"
                            ng-disabled="loginForm.$invalid"
                            ng-click="methods.login()">
                      Bejelentkezés
                  </button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Nincs fiókja?</p>
                    <button  type="button" data-button-init class="btn btn-outline-danger" ui-sref="register">Regisztráció</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center loginText">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">A hatékony foglalás érdekében, jelentkezzen be!</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>