<div class="container rounded bg-white text-dark mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="mt-2 rounded" width="150px" src="./img/Logo2.png">
                <h4 class="font-weight-bold">LPT</h4>
            </div>
        </div>
        <form class="col-md-5 border-right" name="profileForm">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Vezetéknév</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Vezetéknév" 
                        
                               ng-model="model.vezeteknev">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Keresztnév</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Keresztnév" 
                               
                               ng-model="model.keresztnev">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Másodiknév</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Másodiknév" 
                               
                               ng-model="model.masodiknev">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 mb-2">
                        <label class="labels">Telefonszám</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Telefonszám" 
                               value="" 
                               ng-init="model.telszam=data.telszam"
                               ng-model="model.telszam">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="labels">Város</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Város" 
                               value="" 
                               ng-init="model.varos=data.varos"
                               ng-model="model.varos">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="labels">Irányítószám</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Irányítószám" 
                               value="" 
                               ng-init="model.iranyitoszam=data.iranyitoszam"
                               ng-model="model.iranyitoszam">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="labels">Lakcím</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Lakcím" 
                               value="" 
                               
                               ng-model="model.cim">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label class="labels">Email-cím</label>
                        <input type="text" 
                               class="form-control" 
                               placeholder="Email-cím" 
                               value="" 
                               ng-init="model.email=data.email"
                               ng-model="model.email"
                               ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Mentés</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 mt-5">
           <div class="col">
            <div class="p-3 py-4 pt-5 mt-1">
                <div class="col-md-12">
                    <i class="fa-solid fa-star fa-2xs text-danger"></i>
                    <label class="labels">Jelenlegi jelszó</label>
                    <input type="text" class="form-control" placeholder="Jelenlegi jelszó" value="" required ng-init="model.jelsz=null"
                    ng-model="model.jelsz"
                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                    ng-disable-space>
                </div>
            </div>
            <div class="px-3">
                <div class="col-md-12">
                    <label class="labels">Új jelszó</label>
                    <input type="text" class="form-control" placeholder="Új jelszó" value="" ng-init="model.jelszuj=null"
                    ng-model="model.jelszuj"
                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                    ng-disable-space>
                </div>
                <div class="col-md-12 pt-2">
                    <label class="labels">Új jelszó megerősítés</label>
                    <input type="text" class="form-control" placeholder="Megerősítés" value="" ng-init="model.jelszuj2=null"
                    ng-model="model.jelszuj2"
                    ng-disable-space>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
