
<div class="container">
  <section id="cars">
    <h2>Bérelhető Autók</h2>
    <form class="d-flex" role="search">
      <input class="form-control me-2" 
             type="search"
             ng-model="carFilter" 
             placeholder="Keressen egy autót" 
             aria-label="Search">
      <!-- <button class="btn btn-outline-light" type="submit">Keresés</button> -->
    </form>
    <div class="row kereses mt-3" ng-if="showDiv" >
        <div>
          <div>
            <table class="col-12 mt-2">
              <thead>
                <tr>
                  <th>
                    <strong>Autó Márkák:</strong>
                  </th>
                </tr>
              </thead>
              <tbody class="gombok">
                <tr>
                  <td ng-repeat="x in markak track by $index">
                    <div class="text-uppercase" ng-if="!carFilter || markaChanged()==true">
                      <input type="radio" id="gomb_{{x.nev}}" 
                             name="gombok" 
                             ng-model="carFilter"
                             ng-click="markaChanged()">
                      <label for="gomb_{{x.nev}}">{{x.nev}}</label>
                    </div>
                  </td>
                  <td>
                    <div>
                      <input type="radio" id="gomb_mind" name="gombok" 
                             ng-model="carFilter"
                             ng-click="markaChanged()">
                      <label for="gomb_mind">Összes</label>
                    </div>
                  </td>
                </tr>
    
                <!-- <tr>
                  <td>
                    <div class="">
                      <label for="gomb1">BMW</label>
                      <input type="radio" id="gomb1" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <label for="gomb2">Ford</label>
                      <input type="radio" id="gomb2" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <label for="gomb3">Renault</label>
                      <input type="radio" id="gomb3" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <label for="gomb4" class="ms-3">Toyota</label>
                      <input type="radio" id="gomb4" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="">
                      <label for="gomb5">Audi</label>
                      <input type="radio" id="gomb5" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <label class="ms-2" for="gomb6">Mercedes</label>
                    <input type="radio" id="gomb6" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <label for="gomb7">Opel</label>
                      <input type="radio" id="gomb7" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <label for="gomb8">Bronco</label>
                      <input type="radio" id="gomb8" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div>
                      <label for="gomb9">Honda</label>
                      <input type="radio" id="gomb9" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div>
                      <label for="gomb10">Skoda</label>
                      <input type="radio" id="gomb10" name="gombok2" ng-model="carFilter">
                    </div>
                  </td>
                  <td>
                    <div>
                      <label for="gomb11">Semmi</label>
                      <input type="radio" id="gomb11" name="gombok2" ng-model="carFilter">
                    </div>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>


    <div class="car-card2">
      <button class="click1" ng-click="toggleDiv()">Menü</button>
    </div>

      
    <div class="car-grid ">
      <div class="car-card" 
           ng-repeat="car in cars"  
           ng-if="!carFilter || 
                  car.autonev.toLowerCase().includes(carFilter.toLowerCase()) ">
                   <!-- car.autonev.toLowerCase().substr(0, carFilter.length) ===
                   carFilter.toLowerCase() -->
        <img ng-src="./img/{{car.kep}}">
        <h3 class="carcolor">{{car.autonev}}</h3>
        <p>Lóerő: {{car.loero}} <br> Az autó fogyasztása 100km-eren: {{car.fogyasztas}} liter<br> Az autó váltója: {{car.valtos}} <br> Az autó üzemanyaga: {{car.uzemanyag}}</p>
        <p class="price">{{car.ar}} Ft/hónap</p>
        <button ui-sref="rent({'data': car})" >Bérlés</button>
      </div>
    </div>
  </section>
</div>

