<div class="alert alert-danger" ng-if="!$root.user.felhaszid">
  <strong>Vigyázz!</strong> Az autó foglaláshoz be kell <a ui-sref="login">jelentkezned</a>. Ha nincs felhasználód, <a ui-sref="register">regisztrálj</a>!
</div>
<div class="container">
  <section id="cars">
    <h2>Bérelhető Autók</h2>
    <form class="d-flex" role="search">
      <input class="form-control me-2" 
             type="search"
             ng-model="carFilter" 
             placeholder="Keressen egy autót" 
             aria-label="Search">
    </form>
    <div class="car-card2">
      <button class="click1" ng-click="toggleDiv()">Szűrő</button>
    </div>
    <div class="row kereses ms-1 moveFromTopFade mx-auto" ng-if="showDiv" >
      <div>
        <div>
          <table class="col-12 mt-2">
            <thead>
              <tr>
                <th>
                  <strong>Autó Márkák:</strong>
                </th>
              </tr>
            </thead>
            <tbody class="gombok">
              <tr>
                <td ng-repeat="x in markak track by $index">
                  <div class="text-uppercase">
                    <input type="radio"
                           class="form-check-input mb-4" 
                           id="gomb_{{x.nev}}" 
                           name="gombok"
                           ng-value="x.id"
                           ng-model="model.brand">
                    <label for="gomb_{{x.nev}}">{{x.nev}}</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="car-grid">
      <div class="car-card" 
           ng-repeat="car in cars"  
           ng-if="(!carFilter || 
                  car.autonev.toLowerCase().includes(carFilter.toLowerCase())) &&
                  (!model.brand || car.marka === model.brand)">
        <img ng-src="./img/{{car.kep}}">
        <h3 class="carcolor">{{car.autonev}}</h3>
        <p>Lóerő: {{car.loero}} <br> Az autó fogyasztása 100km-eren: {{car.fogyasztas}} liter<br> Az autó váltója: {{car.valtos}} <br> Az autó üzemanyaga: {{car.uzemanyag}}</p>
        <p class="price">{{car.ar}} Ft/nap</p>
        <button ui-sref="rent({'data': car})"
                ng-disabled="!$root.user.felhaszid"
                >
          Bérlés
        </button>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </section>
</div>

