<div class="container">
  <section id="cars">
    <h2>Bérelhető Autók</h2>
    <form class="d-flex" role="search">
      <input class="form-control me-2" 
             type="search"
             ng-model="carFilter" 
             placeholder="Keressen egy autót" 
             aria-label="Search">
      <!-- <button class="btn btn-outline-light" type="submit">Keresés</button> -->
    </form>
    <div class="kereses mt-3">
        <div class="ms-5">
          <div class="gombok">
            <label for="gomb1">bmw</label>
            <input type="radio" id="gomb1">
    
            <label for="gomb2">ford</label>
            <input type="radio" id="gomb2">
          </div>
          <div>
            <label for="gomb3">audi</label>
            <input type="radio" id="gomb3">
          </div>
          <div>
            <label for="gomb3">bronco</label>
            <input type="radio" id="gomb4">
          </div>
        </div>
    </div>


    <div class="car-card2">
      <button>Menü</button>
    </div>

      
    <div class="car-grid ">
      <div class="car-card" 
           ng-repeat="car in cars"  
           ng-if="!carFilter || 
                  car.autonev.toLowerCase().includes(carFilter.toLowerCase())">
                   <!-- car.autonev.toLowerCase().substr(0, carFilter.length) ===
                   carFilter.toLowerCase() -->
        <img ng-src="./img/{{car.kep}}">
        <h3 class="carcolor">{{car.autonev}}</h3>
        <p>Lóerő: {{car.loero}} <br> Az autó fogyasztása 100km-eren: {{car.fogyasztas}} liter<br> Az autó váltója: {{car.valtos}} <br> Az autó üzemanyaga: {{car.uzemanyag}}</p>
        <p class="price">{{car.ar}} Ft/hónap</p>
        <button ui-sref="rent({'data': car})">Bérlés</button>
      </div>
    </div>
  </section>
</div>